@import "../../../assets/scss/app.scss";
$main-color: #df7112;
.forgot-password-wrapper {
  display: flex;
  height: 100%;
  .forgot-back-btn {
    background-image: url("../../../assets/icons/back-button.svg");
    min-width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin-top: 15px;
    cursor: pointer;
  }
  .forgot-main {
    margin-left: 50px;
    position: relative;
    width: 100%;
    .forgot-reset-title {
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;
      color: #000000;
      height: 60px;
      display: flex;
      align-items: center;
    }
    .forgot-form-email {
      position: absolute;
      top: 100px;
      .forgot-form-group {
        margin-bottom: 30px;
        .forgot-text-form-forgot {
          line-height: 22, 4px;
          font-size: 14px;
          font-weight: 400;
          color: #3c3737;
        }
        .forgot-email-forgot {
          padding: 0 10px;
          width: 100%;
          margin-top: 10px;
          border: 1px solid #757272;
          height: 40px;
        }
        .errors {
          color: #ff1f00;
          font-size: 12px;
          margin: 4px 0 0 0;
        }
      }
      .forgot-btn-submit {
        width: 100%;
        border-radius: 2px;
        height: 40px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        border: solid $main-color;
        background-color: $main-color;
        color: #ffffff;
      }
    }
  }
}
