@import "assets/scss/app.scss";

.product-management {
  width: 100%;

  .m-product-header {
    margin: 20px 0px;
    margin-bottom: 50px;

    border: 1px solid #111;

    .categories {
      height: max-content;
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 15px;

      .caret-custom {
        display: inline-block;
        width: max-content;
        position: absolute;
        left: 0px;
        bottom: -10px;
        z-index: 2;
        cursor: pointer;
      }

      &-item {
        margin: 0px;
        width: 20%;
        z-index: 2;
        max-height: max-content;

        span {
          display: block;
          min-width: 70%;
          max-width: 100%;
          background-color: violet;
          cursor: pointer;

          &:hover {
            box-shadow: 1px 5px 5px #898989;
          }
        }
      }
    }
  }

  .product {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    &-item {
      margin-bottom: 10px;
    }
  }
}
