@import "assets/scss/app.scss";

.header {
  position: fixed;
  z-index: 100;
  color: #fff !important;
  background-color: #0b79c1;
  height: 70px;
  margin: 0px;
  padding: 10px 0px 5px 0px;
  width: 100%;
  border-bottom: 1px solid #575757;
  z-index: 100;
  .cart-btn {
    background-color: #fff;
    width: 50px;
    border: none;
    margin-right: 50px;
    padding: unset !important;
    background-color: #0b79c1;
    &:hover {
      background-color: #418bbc;
      cursor: pointer;
    }
    .cart-img {
      height: 150%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .brand {
    background-color: red;
    &:hover {
      cursor: pointer;
    }
    .logo {
      height: 50px;
      top: -10px;
      margin-left: -20px;
      position: absolute;
      height: 70px;
      width: 200px;
    }
  }

  &-link {
    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: #2b2b2b;
      }
    }
  }
}
