@import "assets/scss/app.scss";

.header {
  position: fixed;
  background-color: #fff;
  height: 70px;
  margin: 0px;
  padding: 10px 0px 5px 0px;
  width: 100%;
  border-bottom: 1px solid #575757;
  z-index: 100;

  .brand {
    background-color: red;
    &:hover {
      cursor: pointer;
    }
    .logo{
    
      height: 50px;
    }
  }

  &-link {
    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: #2b2b2b;
      }
    }
  }
}
